<script type="text/javascript">
$( document ).ready(function(){
	$("#form").validate({
		focusInvalid: false,onkeyup: false,
		errorClass: "is-invalid",validClass: "is-valid",
		errorPlacement: function(error, element) {
			if (element.parent().hasClass('input-group')) {
				error.insertAfter(element.parent());
			} else if (element.attr("name") == "accept"){
				error.insertAfter("#accept2");
			}else{
				error.insertAfter(element);
			}
		}
	});
	$('[data-toggle="popover"]').popover();
});
function dl(id){
	$.post("exchanger.html",'remove='+id,function( data ) {
		$('#item'+id).hide();
	});
}
function exchange_balance(api){
	$('#modal_action').attr("disabled", true);
	$('#modal_title').text('Exchange Balance');
	$('#modal_body').text('getting data. please wait..');
	$('#modal').modal();
	$.post("exchanger.html",'balances='+encodeURIComponent(api),function( data ) {
		var html='<table class="table table-striped"><thead><tr><th scope="col">Symbol</th><th scope="col">Avaiable</th><th scope="col">Total</th></tr></thead><tbody>';
		for(var i in data){
			html+='<tr><th scope="row">'+data[i].symbol+'</th><td>'+data[i].available+'</td><td>'+data[i].total+'</td></tr>';
		}
		html+='</tbody></table>';
		$('#modal_body').html(html);
	},'json');
}
function exchange_orders(api){
	$('#modal_action').attr("disabled", true);
	$('#modal_title').text('Exchange Open Trades');
	$('#modal_body').text('getting data. please wait..');
	$('#modal').modal();
	$.post("exchanger.html",'orders='+encodeURIComponent(api),function( data ) {
		var html='<table class="table table-striped"><thead><tr><th scope="col">Symbol</th><th scope="col">Price</th><th scope="col">Quantity</th></tr></thead><tbody>';
		for(var i in data){
			html+='<tr class="table-'+(data[i].buy?'success':'danger')+'"><th scope="row">'+data[i].symbol+'</th><td>'+data[i].price+'</td><td>'+data[i].amount+(data[i].filled?' (-'+data[i].filled+')':'')+'</td></tr>';
		}
		html+='</tbody></table>';
		$('#modal_body').html(html);
	},'json');
}
</script>
<h1>Your Apis</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
		{{#list}}
		<tr id="item{{_id}}">
			<th scope="row">{{_id}}</th>
			<td>{{name}} ({{market}})</td>
			<td>{{active}}</td>
			<td><button class="btn btn-sm btn-danger" onclick="dl({{_id}})">DELETE</button></td>
			<td><a class="btn btn-info m-1" onclick="exchange_balance({market:{{market}},data:{{data}}})"><span data-feather="dollar-sign" color="#ffffff" stroke-width="3"></span></a><a class="btn btn-info m-1" onclick="exchange_orders({market:{{market}},data:{{data}}})"><span data-feather="open-book" color="#ffffff" stroke-width="3"></span></a></td>
		</tr>
		{{/list}}
  </tbody>
</table>
<form method="post" action="exchanger.html" id="form">
	<div class="form-group">
		<label for="exchanger">Exchanger Name</label>
		<select class="form-control" id="exchanger" name="exchanger" onchange="$('.exchangerIn').hide();$('.'+this.value).show();" required>
    		<option></option>
		{{#apis}}
			<option value="{{key}}">{{name}}</option>
		{{/apis}}
		</select>
	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="(Optional)">
	</div>
	{{#inputs}}
	<div class="form-group exchangerIn {{key}}">
		<label for="{{name}}">{{title}}</label>
		<input type="text" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{title}}" required>
	</div>
	{{/inputs}}
	<button type="submit" class="btn btn-primary">Add Api</button>
</form>
