<link rel="stylesheet" href="css/jquery-ui.min.css">
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript">
$( document ).ready(function(){
	$("#form").validate({
		focusInvalid: false,onkeyup: false,
		errorClass: "is-invalid",validClass: "is-valid",
		errorPlacement: function(error, element) {
			if (element.parent().hasClass('input-group')) {
				error.insertAfter(element.parent());
			} else if (element.attr("name") == "accept"){
				error.insertAfter("#accept2");
			}else{
				error.insertAfter(element);
			}
		}
	});
	$( "#pair" ).autocomplete({
		source: function(req,res){
			$.get("symbols.html?e="+$('#e_name').val()+"&term="+req.term,function( data ) {
				res(data);
			});
		},
		minLength: 3,
		select: function( event, ui ) {
			$('#pair_input').val(ui.item.label);
			$('#price').val(ui.item.price);
			$('#trade_price').val(ui.item.price);
			$('#pair_name').html(ui.item.label);
		}
	});
	$('[data-toggle="popover"]').popover();
});
function dl(market,pair,id){
	$.post("panel.html",'market='+market+'&pair='+pair+'&remove='+id,function( data ) {
		$('#item'+id).hide();
	});
}
</script>
<h1>Active Trades</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exchange</th>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
		{{#list}}
		<tr id="item{{_id}}">
			<th scope="row">{{_id}}</th>
			<td>{{market}}</td>
			<td>{{pair}}</td>
			<td>{{formatPrice track.[0]}}</td>
			<td>{{formatPrice amount}}</td>
			<td>{{status}}</td>
			<td><button class="btn btn-sm btn-danger" onclick="dl('{{market}}','{{pair}}',{{_id}})">DELETE</button></td>
		</tr>
		{{/list}}
  </tbody>
</table>
<form method="post" action="panel.html" id="form">
	<div class="form-group">
		<label for="exchanger">Exchanger Name</label><a href="exchanger.html" class="btn btn-secondary">Add Exchanger</a>
		<select class="form-control" id="exchanger" name="api" required onchange="$('#e_name').val(this.value.split('_')[1])">
    		<option></option>
		{{#apis}}
			<option value="{{_id}}">{{name}}</option>
		{{/apis}}
		</select>
		<input type="hidden" class="form-control" id="e_name"/>
	</div>
	<div class="form-group">
		<label for="pair">Pair <h3><span class="badge badge-secondary" id="pair_name"></span></h3></label>
		<input type="text" class="form-control" id="pair" required/>
		<input type="hidden" class="form-control" id="pair_input" name="pair"/>
	</div>
	<div class="form-group">
		<label for="price">Target Price</label> <a tabindex="-2" class="badge badge-info" role="button" data-toggle="popover" data-trigger="focus" title="Hint" data-content="When price reaches this value, following action will be executed">?</a>
		<input type="number" class="form-control" id="price" name="price" step="any" required/>
	</div>
	<div class="form-group">
		<label for="amount">Amount to Trade</label> <a tabindex="-2" class="badge badge-info" role="button" data-toggle="popover" data-trigger="focus" title="Hint" data-content="How much of this coin do you want to be traded?">?</a>
		<input type="number" class="form-control" id="amount" name="amount" required/>
	</div>
	<div class="form-group">
		<label for="amount">What to do?</label><a tabindex="-2" class="badge badge-info" role="button" data-toggle="popover" data-trigger="focus" title="Hint" data-content="Market Buy and Sell performs an immediate trade with any available price, and Limit buy and Sell create a trade at a specific price">?</a>
		<select class="form-control" name="action" required onchange="if(this.value.split('_')[0]=='limit')$('#trade_price0').show();else $('#trade_price0').hide();">
			<option></option>
			<option value="market_buy">Market Buy</option>
			<option value="market_sell">Market Sell</option>
			<option value="limit_buy">Limit Buy</option>
			<option value="limit_sell">Limit Sell</option>
		</select>
	</div>
	<div class="form-group" id="trade_price0" style="display:none">
		<label for="price">Price to Trade</label>
		<input type="number" class="form-control" id="trade_price" name="trade_price" step="any" required/>
	</div>
	<input type="submit" class="btn btn-primary" value="SEND"/>
</form>
